<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  <ion-title>Cadastrar Estabelecimento</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-item>
    <ion-label position="floating">Estabelecimento</ion-label>
    <ion-input name="descricao" [(ngModel)]="descricao"></ion-input>
  </ion-item>

  <br><br><br><br><br><br><br><br><br><br>

  <ion-button expand="full" color="warning" (click)="cadastrarEstabelecimento()">Salvar</ion-button>
</ion-content>
