<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Cadastrar Cesta</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label position="floating">Descrição</ion-label>
    <ion-input name="descricao" [(ngModel)]="descricao"></ion-input>
  </ion-item>

  <ion-list >
    <ion-item >
      <ion-label>Estabelecimentos</ion-label>
      <ion-select  placeholder="Selecione" [(ngModel)]="estabelecimentoDesc">
          <ion-select-option  *ngFor="let estabelecimento of estabelecimentos" value="{{estabelecimento.descricao}}">
            {{estabelecimento.descricao}}</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>

  <br><br><br><br><br><br><br><br>

  <ion-button expand="full" (click)="imprimirDesc()">Salvar</ion-button>

  
</ion-content>