<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Nossa Gelada
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <ion-img src="/assets/shapes.svg"></ion-img>
      <ion-card-header>
        <ion-card-title>Eu ouvi alguem dizer<strong> CERVEJA</strong> ?????</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Se beber, Não dirija.</p>
        <ion-card-subtitle>Get Started</ion-card-subtitle>
      </ion-card-content>
    </ion-card>

</ion-content>
